---
import img01 from "../assets/fulls/magazine01.png";
let description01 = "Cover shoot for Pump Magazine";
import img02 from "../assets/fulls/magazine02.png";
let description02 = "Cover shoot for a Beauty issue of E Magazine";

import img03 from "../assets/fulls/magazine03.png";
let description03 = "Editorial shoot for Elegant Magazine";
import img04 from "../assets/fulls/magazine06.jpg";
let description04 = "Beauty shoot for Ellements Magazine";

import img05 from "../assets/fulls/magazine05.jpg";
let description05 = "Editorial shoot for Elegant Magazine";
import img06 from "../assets/fulls/magazine04.jpg";
let description06 = "Editorial shoot for Style Magazine";

import img07 from "../assets/fulls/magazine07.png";
let description07 = "Magazine cover & spread for Elegant Magazine";
import img08 from "../assets/fulls/app-design.png";
let description08 = "E-commerce app design for a clothing brand";

import img09 from "../assets/fulls/brand01.jpg";
let description09 = "Brand Identity design for a crossfit company";
import img10 from "../assets/fulls/book-design.png";
let description10 = "Book design and launch campaign";

import img11 from "../assets/fulls/brand02.png";
let description11 = "Brand identity design";
import img12 from "../assets/fulls/web01.png";
let description12 = "Web site & personal branding design";

import img13 from "../assets/fulls/photo01.png";
let description13 = "Online film photography course & curriculum";
import img14 from "../assets/fulls/photo02.png";
let description14 = "BTS - Fashion Campaign in New York";

import img15 from "../assets/fulls/photo03.jpg";
let description15 = "Influencer collaborations for Instagram";
import img16 from "../assets/fulls/photo04.jpg";
let description16 = "Photography for Milan fashion week";

import img17 from "../assets/fulls/photo05.jpg";
let description17 = "BTS - studio productions, campaigns, management";
import img18 from "../assets/fulls/photo05b.jpg";
let description18 = "Fashion brand campaign";

import img19 from "../assets/fulls/web03.png";
let description19 = "Photography app prototype design";
import img20 from "../assets/fulls/product02.jpg";
let description20 = "Commercial work";

import img21 from "../assets/fulls/photo03.jpg";
let description21 = "Influencer collabs for Instagram";
import img22 from "../assets/fulls/photo06.jpg";
let description22 = "Fashion Campaign art direction in NY";
---

<!-- Two -->
<section id="two">
	<h2>Under My Art Direction</h2>
	<div
		class="w-full max-w-5xl p-5 mx-auto gap-7 columns-2 xl:columns-3 space-y-5 pr-10"
	>
		<div>
			<img src={img01} class="rounded-lg" />
			<p class="prose prose-sm pb-4">{description01}</p>
		</div>
		<div>
			<img src={img02} class="rounded-lg" />
			<p class="prose prose-sm pb-4">{description02}</p>
		</div>
		<div>
			<img src={img03} class="rounded-lg" />
			<p class="prose prose-sm pb-4">{description03}</p>
		</div>
		<div>
			<img src={img04} class="rounded-lg" />
			<p class="prose prose-sm pb-4">{description04}</p>
		</div>
		<div>
			<img src={img05} class="rounded-lg" />
			<p class="prose prose-sm pb-4">{description05}</p>
		</div>
		<div>
			<img src={img06} class="rounded-lg" />
			<p class="prose prose-sm pb-4">{description06}</p>
		</div>
		<div>
			<img src={img07} class="rounded-lg" />
			<p class="prose prose-sm pb-4">{description07}</p>
		</div>
		<div>
			<img src={img08} class="rounded-lg" />
			<p class="prose prose-sm pb-4">{description08}</p>
		</div>
		<div>
			<img src={img09} class="rounded-lg" />
			<p class="prose prose-sm pb-4">{description09}</p>
		</div>
		<div>
			<img src={img10} class="rounded-lg" />
			<p class="prose prose-sm pb-4">{description10}</p>
		</div>
		<div>
			<img src={img11} class="rounded-lg" />
			<p class="prose prose-sm pb-4">{description11}</p>
		</div>
		<div>
			<img src={img12} class="rounded-lg" />
			<p class="prose prose-sm pb-4">{description12}</p>
		</div>
		<div>
			<img src={img13} class="rounded-lg" />
			<p class="prose prose-sm pb-4">{description13}</p>
		</div>
		<div>
			<img src={img14} class="rounded-lg" />
			<p class="prose prose-sm pb-4">{description14}</p>
		</div>
		<div>
			<img src={img15} class="rounded-lg" />
			<p class="prose prose-sm pb-4">{description15}</p>
		</div>
		<div>
			<img src={img16} class="rounded-lg" />
			<p class="prose prose-sm pb-4">{description16}</p>
		</div>
		<div>
			<img src={img17} class="rounded-lg" />
			<p class="prose prose-sm pb-4">{description17}</p>
		</div>
		<div>
			<img src={img18} class="rounded-lg" />
			<p class="prose prose-sm pb-4">{description18}</p>
		</div>
		<div>
			<img src={img19} class="rounded-lg" />
			<p class="prose prose-sm pb-4">{description19}</p>
		</div>
		<div>
			<img src={img20} class="rounded-lg" />
			<p class="prose prose-sm pb-4">{description20}</p>
		</div>
		<div>
			<img src={img21} class="rounded-lg" />
			<p class="prose prose-sm pb-4">{description21}</p>
		</div>
		<div>
			<img src={img22} class="rounded-lg" />
			<p class="prose prose-sm pb-4">{description22}</p>
		</div>
	</div>
</section>
